<app-layout tableName="{{order.tableName}}" [text]="'Quản lý chi tiết hoá đơn'" (showButtonss)="evetnbuttons($event)"
    [buttonNone]="showButtonsnone" [tabTemplates]="{tableList,adminMenuAdd}"></app-layout>

<ng-template #tableList>
    <div class="container-fluid p-2 modern-layout bg-light rounded">
        <div class="row mb-4 g-4">
            <!-- Danh sách sản phẩm -->
            <div class="col-md-5">
                <div class="card border-0 fixed-height-no-scroll-drinks">
                    <div class="card-body">
                        <h5 class="section-header mb-4">
                            <i class="fas fa-coffee me-2 icon-brown"></i> Sản phẩm
                        </h5>
                        <!-- Thanh tìm kiếm và lọc -->
                        <div class="row g-2 align-items-center text-center mb-4">
                            <div class="col-md-7">
                                <div class="input-group">
                                    <span class="input-group-text bg-white border-end-0">
                                        <i class="fas fa-search text-muted"></i>
                                    </span>
                                    <input type="text" class="form-control form-control-sm border-start-0"
                                        [(ngModel)]="timKiemTen" placeholder="Tìm theo tên...">
                                </div>
                            </div>
                            <div class="col-md-5 d-flex">
                                <select class="form-select form-select-sm" [(ngModel)]="loaiDuocChon">
                                    <option *ngFor="let category of categorys" [value]="category.id">{{ category.name }}
                                    </option>
                                </select>
                                <button class="btn btn-outline-black ms-2" (click)="click()">
                                    <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>

                        <!-- Danh sách sản phẩm -->
                        <div class="row g-3 category-list">
                            <div class="col-6 col-lg-4" *ngFor="let drink of sanPhamLoc">
                                <div class="card product-card text-center border-0  h-100  hover-scale">
                                    <img [src]="drink.imagePath" alt="{{ drink.name }}"
                                        class="card-img-top p-2 rounded-top-4"
                                        style="height: 100px; object-fit: cover;">
                                    <div class="card-body">
                                        <p class="fw-bold text-dark mb-1">{{ drink.name }}</p>
                                        <p class="text-muted small mb-2">{{ drink.price | number }} VNĐ</p>
                                        <button class="btn btn-sm btn-outline-primary w-100"
                                            (click)="addOrderDetail(drink)">
                                            <i class="fas fa-plus me-1"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <!-- Chi tiết hóa đơn + Thông tin thanh toán -->
            <div class="col-md-7">
                <!-- Chi tiết hóa đơn -->
                <div class="card border-0  mb-4 fixed-height-no-scroll">
                    <div class="card-body">
                        <h5 class="header-section mb-4">
                            <i class="fas fa-list-alt me-2 icon-green"></i> Chi tiết hóa đơn
                        </h5>
                        <div class="list-group-item d-flex fw-bold shadow-sm mb-2 sticky-header">
                            <div class="col-2 p">Sản phẩm</div>
                            <div class="col-2">Số lượng</div>
                            <div class="col-2">Giá bán</div>
                            <div class="col-2">Thành tiền</div>
                            <div class="col-2">Ghi chú</div>
                            <div class="col-2 p">Thao tác</div>
                        </div>
                        <!-- <div class="row g-3 category-list"> -->

                        <div class="list-group orderdetail-list">
                            <div *ngFor="let orderdetail of orderdetails" class="list-group-item d-flex mb-2">
                                <div class="col-2 p">{{ orderdetail.drinkName }}</div>
                                <div class="col-2">{{ orderdetail.quantity }}</div>
                                <div class="col-2">{{ orderdetail.unitPrice | number }} VNĐ</div>
                                <div class="col-2">{{ orderdetail.quantity * orderdetail.unitPrice | number }} VNĐ</div>
                                <div class="col-2">{{orderdetail.note}}</div>
                                <div class="col-2">
                                    <button class="btn btn-warning btn-sm me-1" (click)="updateor(orderdetail)">
                                        <i class="fas fa-sync-alt"></i>
                                    </button>
                                    <button class="btn btn-danger btn-sm" (click)="deleteor(orderdetail)">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thông tin thanh toán -->
                <div class="card border-0  mb-4 fixed-height-no-scroll">
                    <!-- <div class="card-header  bg-brown  text-white fw-bold">
                        <i class="fas fa-receipt me-2"></i> Thông tin hóa đơn
                    </div> -->
                    <div class="card-body">
                        <h5 class="section-header-bill mb-2">
                            <i class="fas fa-receipt me-2 icon-bill"></i> Hóa đơn
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="d-flex justify-content-between py-3 border-bottom">
                                    <span><strong>Mã hóa đơn:</strong></span>
                                    <span>{{ order.code }}</span>
                                </div>
                                <div class="d-flex justify-content-between py-3 border-bottom">
                                    <span><strong>Tổng tiền:</strong></span>
                                    <span>{{ tinhTongTien() | number }} VNĐ</span>
                                </div>
                                <div class="d-flex justify-content-between py-3 border-bottom">
                                    <span><strong>Tiền thối:</strong></span>
                                    <span>{{ tinhTienThoi() | number }} VNĐ</span>
                                </div>
                                <div class="d-flex justify-content-between py-3">
                                    <span><strong>Nhân viên:</strong></span>
                                    <span>{{ order.fullNameEmployee }}</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- <div class="d-flex justify-content-between py-3 border-bottom">
                                    <span><strong>Bàn:</strong></span>
                                    <span>{{ tenBan }}</span>
                                </div> -->
                                <div class="d-flex justify-content-between py-3 border-bottom">
                                    <span><strong>Ngày:</strong></span>
                                    <span>{{ order.createdAt | date:'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                                <div class="d-flex justify-content-between py-3 border-bottom">
                                    <span><strong>Khách hàng:</strong></span>
                                    <span>{{ order.fullNameCustomer }}</span>
                                </div>
                                <div class="d-flex justify-content-between align-items-center py-3">
                                    <span><strong>Tiền khách trả:</strong></span>
                                    <input type="number" class="form-control form-control-sm w-50"
                                        [(ngModel)]="tienKhachTra" (input)="tinhTienThoi()"
                                        placeholder="Nhập số tiền..." />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


</ng-template>

<ng-template #adminMenuAdd>
    <app-admin-menu-add [showoffcanvas]="showoffcanvas" [drink]="drinkUpdate" [data]="data"
        (closePupAdd)="close()"></app-admin-menu-add>
</ng-template>