<div [class.show]="isTypeOpen" class="overlay"></div>
<div class="card category-icon-card" [class.show]="isTypeOpen">
    <div class="card-body">
        <button class="btn-close position-absolute top-0 end-0 m-2" (click)="closeType()"></button>
        <h5 class="card-title text-center">Khách hàng muốn</h5>
        <div class="d-grid gap-3 mt-4">
            <button
                class="btn btn-outline-success d-flex align-items-center justify-content-center gap-2 py-2 rounded-pill shadow-sm">
                <i class="fas fa-chair"></i>
                Đơn tại quán
            </button>
            <button (click)="showOrderType()"
                class="btn btn-outline-primary d-flex align-items-center justify-content-center gap-2 py-2 rounded-pill shadow-sm">
                <i class="fas fa-shopping-bag"></i>
                Đơn mang về
            </button>
        </div>
    </div>
</div>