<div [class.show]="isSearchBarVisible" class="overlay"></div>

<nav class="navbar navbar-expand-lg sticky-top shadow-sm" style="background-color: #ffffff; z-index: 1030;">
    <div class="container">
        <a class="navbar-brand" [routerLink]="'/'">
            <i class="bi bi-cup-hot" style="color: #6F4F37;"></i>
            <span style="color: #6F4F37;"> Cafeza</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item" *ngFor="let item of menuItems_desktop">
                    <a class="nav-link" style="color: #6F4F37;" [routerLink]="item.isRouterLink ? item.path : null"
                        [href]="!item.isRouterLink ? item.path : null" routerLinkActive="active">
                        {{ item.label }}
                    </a>
                </li>
            </ul>
            <div class="d-flex ms-3">
                <input class="form-control me-2" type="search" [(ngModel)]="keyword" placeholder="Tìm kiếm..."
                    aria-label="Search">
                <button class="btn btn-outline-light" (click)="onSearchChange()"
                    style="color: #6F4F37; border-color: #6F4F37;" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>
            <div class="ms-3 position-relative">
                <a [routerLink]="'/cart'" class="text-decoration-none">
                    <i class="bi bi-cart-fill" style="font-size: 1.6rem; color: #6F4F37;"></i>
                    <span class="badge bg-danger rounded-circle position-absolute top-0 start-100 translate-middle"
                        id="cart-count">{{cartCount}}</span>
                </a>
            </div>
        </div>
    </div>
</nav>

<div class="navbar-mobile d-lg-none">
    <ul>
        <li *ngFor="let item of menuItems_moblile">
            <a class="cartcontainer" *ngIf="item.isRouterLink" [routerLink]="item.path" routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="bi" [ngClass]="item.icon"></i>
                <span>{{ item.label }}</span>
                <span *ngIf="item.label === 'Giỏ hàng' && cartCount > 0" id="cart-count">{{ cartCount }}</span>
            </a>
        </li>
        <li class="nav-item" style="display: flex; justify-content: center; align-items: center;">
            <button class="btn btn-outline-light" style="color: #fff; border-color: #fff;" type="button"
                (click)="toggleSearchBar()">
                <i class="bi bi-search"></i>
            </button>
        </li>
    </ul>

    <!-- <div class="cart-container">
        <a href="/cart">
            <i class="bi bi-cart-fill" style="color: #fff;"></i>
            <span id="cart-count">{{cartCount}}</span>
        </a>
    </div> -->
</div>
<div class="search-card shadow-lg" [class.show]="isSearchBarVisible">
    <button class="btn-close position-absolute top-0 end-0 m-3" (click)="toggleSearchBar()"></button>
    <h5 class="mb-3">Tìm kiếm sản phẩm</h5>
    <div class="input-group">
        <input type="text" class="form-control" [(ngModel)]="keyword" placeholder="Nhập từ khóa...">
        <button class="btn btn-primary" (click)="onSearchChange()" type="button">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>