.navbar {
    padding: 8px 30px;
    background-color: #6f4f37;
}

.navbar-brand {
    font-size: 1.8rem;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-left: 20px;
    color: #fff;
    font-weight: 500;
}

.navbar-nav .nav-link:hover {
    color: #f5c8a5;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.form-control {
    border-radius: 50px;
    font-size: 0.9rem;
    padding-left: 15px;
}

.form-control:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
}

.btn-outline-light {
    border-radius: 50px;
}

.ms-3 {
    display: flex;
    align-items: center;
}

#cart-count {
    font-size: 0.85rem;
    font-weight: bold;
    color: white;
}