.list-group-item {
    border-radius: 8px;
    cursor: pointer;
    padding: 12px 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
    font-size: 15px;
    flex-wrap: wrap;
}

.list-group-item>div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
}

@media (max-width: 470px) {
    .hide-on-mobile {
        display: none !important;
    }

    .list-group-item {
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
        padding: 10px;
    }

    .list-group-item>div {
        flex: 1;
        text-align: center;
        font-size: 13px;
        padding: 5px;
    }
}