<button *ngIf="showButton" class="btn btn-primary chat-toggle-btn" (click)="toggleChat()">
  {{ isShowChat ? 'Đóng Chat' : 'Mở Chat' }}
</button>

<ng-container *ngIf="isShowChat">
  <div class="chat-widget shadow" [class.show]="showChat">
    <div class="chat-sidebar">
      <!-- <div class="chat-header p-3 fw-bold text-white bg-primary">Tin nhắn</div> -->
      <div class="chat-header p-3 bg-primary d-flex align-items-center">
        <input type="text" class="form-control me-2" placeholder="Tìm kiếm cuộc trò chuyện..." [(ngModel)]="searchTerm"
          (input)="onSearchChange()" />
        <button class="btn btn-light">
          <i class="bi bi-search"></i>
        </button>
      </div>

      <div class="conversation-list">
        <div *ngFor="let convo of conversations" class="conversation" [class.active]="convo === selectedConversation"
          (click)="selectConversation(convo)">
          <img [src]="convo.avatar" alt="avatar" class="avatar">
          <div class="info">
            <div class="name">{{ convo.name }}</div>
            <div class="last-message">{{ convo.lastMessage }}</div>
          </div>
        </div>
      </div>
    </div>

    <div class="chat-main" *ngIf="selectedConversation">
      <div class="chat-main-header">
        <img [src]="selectedConversation.avatar" class="avatar-sm" />
        <span>{{ selectedConversation.name }}</span>
        <button class="btn-close ms-auto" aria-label="Close" (click)="closeChat()"></button>

      </div>

      <div class="chat-messages" id="messageList" #chatContent>
        <div *ngFor="let msg of listmessage.messages" class="message"
          [class.self]="msg.senderMemberId === currentUserId">
          <div class="bubble">{{ msg.text }}</div>
          <!-- <p>{{msg.senderMemberId}}</p> -->
        </div>
      </div>
      <div *ngIf="isTyping" class="typing-indicator">
        Người kia đang nhập tin nhắn<span class="dots">...</span>
      </div>
      <!-- ảnh -->
      <div *ngIf="previewImageUrls.length > 0" class="image-preview-scrollable">
        <div class="image-wrapper" *ngFor="let img of previewImageUrls; let i = index">
          <img [src]="img" alt="Preview" />
          <button (click)="removeImage(i)">×</button>
        </div>
      </div>

      <!-- <div class="chat-input">
        <input #messageInput [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" (input)="onTyping()" type="text"
          placeholder="Nhập tin nhắn..." />
        <button class="btn-send" (click)="sendMessage()">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div> -->
      <div class="chat-input">
        <button class="btn-icon" (click)="toggleEmojiPicker()">
          <i class="fa fa-smile"></i>
        </button>

        <label class="btn-icon">
          <i class="fa fa-image"></i>
          <input type="file" accept="image/*" multiple (change)="onImagesSelected($event)" hidden />
        </label>

        <input #messageInput [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" (input)="onTyping()" type="text"
          placeholder="Nhập tin nhắn..." />

        <button class="btn-send" (click)="sendMessage()">
          <i class="fa fa-paper-plane"></i>
        </button>
      </div>
      
      <div *ngIf="showEmojiPicker" class="emoji-picker">
        <span class="emoji" (click)="addEmoji('😀')">😀</span>
        <span class="emoji" (click)="addEmoji('❤️')">❤️</span>
        <span class="emoji" (click)="addEmoji('👍')">👍</span>
      </div>

    </div>
  </div>
</ng-container>