<lib-pie-canvas [reportData]="reportData"></lib-pie-canvas>
<lib-bar-canvas [revenueData]="revenueData"></lib-bar-canvas>
<lib-line-canvas [orderCountData]="orderCountData"></lib-line-canvas>
<lib-radar-canvas [reportData]="reportData"></lib-radar-canvas>
<lib-area-canvas [revenueData]="revenueData"></lib-area-canvas>
<lib-polar-area-canvas [reportData]="reportData"></lib-polar-area-canvas>
<lib-mixed-canvas [revenueData]="revenueData" [orderCountData]="orderCountData"></lib-mixed-canvas>
<lib-doughnut-canvas [reportData]="reportData"></lib-doughnut-canvas>