<app-layout [text]="'Quản lý món'" (showButtonss)="evetnbuttons($event)" [buttonNone]="showButtonsnone" [count]="count"
    (showPupAdd)="click($event)" [tabTemplates]="{adminMenuList, adminMenuAdd}">
</app-layout>

<ng-template #adminMenuAdd>
    <app-admin-menu-add [showoffcanvas]="showoffcanvas" [data]="data" [drink]="drinkUpdate"
        (newDrink)="newDrink($event)" (closePupAdd)="close()"></app-admin-menu-add>
</ng-template>

<app-drink-detail *ngIf="drinkUpdate" [showoffcanvas]="showDetail" [drink]="drinkUpdate" (closePupAdd)="close()">
</app-drink-detail>


<ng-template #adminMenuList>
    <app-admin-menu-list [drinks]="drinks" [drinkselect]="drink" (drink)="selectDrink($event)"
        (dblclick)="dbclickDrink()"></app-admin-menu-list>
</ng-template>