<div class="modal-overlay" [class.show]="show">
    <div class="modal-box" [ngStyle]="{ height: height }" [class.show]="show">
        <h4 class="mb-3 fw-bold text-primary">{{ title }}</h4>
        <p class="text-muted mb-4">{{ message }}</p>
        <ng-container *ngIf="changetable">
            <div class="row g-3 mb-4 text-start">
                <div class="col-12 col-md-6">
                    <label for="tableName" class="form-label fw-semibold">Bàn hiện tại:</label>
                    <input type="text" id="tableName" name="tableName" [(ngModel)]="tableName"
                        class="form-control bg-light" disabled />
                </div>

                <div class="col-12 col-md-6" *ngIf="tables?.length">
                    <label for="id" class="form-label fw-semibold">Bàn chuyển đến:</label>
                    <select id="id" name="id" [(ngModel)]="toTableId" class="form-select">
                        <option [value]="''" disabled selected>-- Chọn bàn trống --</option>
                        <option *ngFor="let table of tables" [value]="table.id">
                            {{ table.tableName }}
                        </option>
                    </select>
                </div>
            </div>
        </ng-container>
        <div class="modal-actions">
            <button (click)="cancel()" class="btn-cancel">{{ cancelText }}</button>
            <button (click)="confirm(action)" class="btn-confirm">{{ confirmText }}</button>
        </div>
    </div>
</div>