<app-layout-home [cartCount]="cartCount" [text]="drink.name"></app-layout-home>

<div class="container my-3">
  <div class="row g-4">
    <div class="col-md-6">
      <div class="img-container">
        <img [src]="drink?.imagePath || 'https://via.placeholder.com/500x500'" class="img-fluid rounded"
          alt="Ảnh thức uống">
      </div>
    </div>

    <div class="col-md-6">
      <h2 class="fw-bold text-dark">{{ drink?.name }}</h2>
      <p class="text-muted">{{ drink?.category }}</p>

      <h4 class="text-danger mt-3">{{ drink?.price | number:'1.0-0' }} ₫
      </h4>

      <p class="mt-4">{{ drink?.description }}</p>

      <div class="d-flex align-items-center mt-4">
        <button class="btn btn-outline-primary me-3 py-2 px-4" (click)="addToCart(drink)">
          <i class="bi bi-cart-plus"></i> Thêm vào giỏ
        </button>
        <button class="btn btn-secondary py-2 px-4">
          <i class="bi bi-arrow-left"></i> Quay lại menu
        </button>
      </div>
    </div>
  </div>
</div>