<li class="tree-node">
  <div class="node-label d-flex mb-2" [ngClass]="{ 'selected-drink': cateogryselect?.id === category?.id }"
    (click)="toggleExpand(); clickEvent()">
    {{ getPrefix() }}
    <div class="col-2 position-relative d-flex align-items-center right">
      <i class="fas position-absolute start-0 ps-0" [ngClass]="{
           'fa-chevron-down': category.isExpanded,
           'fa-chevron-right': !category.isExpanded
         }" *ngIf="category.children?.length || category.hasChildren"></i>

      <i class="fas fa-chevron-right position-absolute start-0 ps-0"
        *ngIf="!category.children?.length && !category.hasChildren"></i>
      <p class="fw-bold text-secondary mb-0 mx-auto hide-on-mobile">
        {{ category.code }}
      </p>
    </div>

    <div class="col-2 text-center">{{ category.name }}</div>
    <div class="col-1 text-center">{{ category.viewCount }}</div>
    <div class="col-3 text-center hide-on-mobile">{{ category.description }}</div>
    <div class="col-2 text-center">
      <!-- <span class="badge px-3 py-2" [ngClass]="{
                'bg-success text-white': category.isActive,
                'bg-danger text-white': !category.isActive
              }">
        {{ category.isActive ? 'Đang hoạt động' : 'Không hoạt động' }}
      </span> -->
      <span class="task-status" [ngClass]="getStatusClass(category.isActive)">
        {{ getStatusText(category.isActive) }}</span>
    </div>
    <div class="col-2 text-center hide-on-mobile">{{ category.slug }}</div>
  </div>


  <ul *ngIf="category.children?.length && category.isExpanded" class="list-unstyled">
    <app-category-node *ngFor="let child of category.children" [category]="child" [level]="level + 1"
      [isLast]="child === category.children[category.children.length - 1]" [cateogryselect]="cateogryselect"
      (nodeSelected)="nodeSelected.emit($event)">
    </app-category-node>
  </ul>
</li>