.hero-slide {
  height: 60vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}

.carousel-item {
  transition: opacity 0.5s ease-in-out;
}

.carousel-item.active {
  opacity: 1;
}

.carousel-control-prev,
.carousel-control-next {
  color: #fff;
}

.btn {
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.btn-outline-light:hover {
  background-color: #fff;
  color: #5e3c2f;
}

// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

// body {
//   font-family: 'Poppins', sans-serif;
//   background-color: #fefcf9;
//   margin: 0;
//   padding: 0;
//   color: #3e3021;
// }

.category-container {
  // padding: 0 20px;
  // margin-top: 40px;
}

.category-card {
  // margin-top: 40px;
}

.category-title {
  font-size: 24px;
  font-weight: 600;
  color: #4b3621;
  // margin-bottom: 10px;
  padding: 40px 0px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.drinks-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 24px;
  // color: #4b3621;
}

.drink-card {
  border-radius: 5px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drink-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.drink-image-container {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  text-align: center;
  border-bottom: 2px solid #6F4F37;
  border-left: 5px solid #6F4F37;
  position: relative;
  overflow: hidden;
}


.drink-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;

}



// .drink-image-container::before {
//   content: '';
//   position: absolute;
//   bottom: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   // background: linear-gradient(to top, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0));
//   // transform: translate(-100%, 100%);
//   // animation: shimmer 2s ease-in-out infinite; 
// }

/* Diagonal Shimmer Animation */
@keyframes shimmer {
  0% {
    transform: translate(-100%, 100%);
    /* Start with shimmer at bottom-left */
  }

  50% {
    transform: translate(100%, -100%);
    /* Move shimmer to top-right */
  }

  100% {
    transform: translate(-100%, 100%);
    /* End with shimmer back at the bottom-left */
  }
}

.drink-card:hover .drink-image {
  transform: scale(1.07);
}

.drink-details {
  padding: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.drink-name {
  font-size: 14px;
  // font-weight: 600;
  margin-bottom: 8px;
  color: #4b3621;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
}

.drink-price {
  font-size: 14px;
  color: #7a5c3e;
  font-weight: 500;
  margin-bottom: 15px;
}

.add-to-cart-btn {
  height: 36px;
  transition: 0.35s ease-in-out;
  border: 1px solid #7a5c3e;
  cursor: pointer;
  text-transform: inherit;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background-color: #7a5c3e;
  padding: 0px;
  color: rgb(255, 255, 255);
  overflow: hidden;
}
.out-of-stock {
  opacity: 0.5;
  pointer-events: none;
  user-select: none;
}

.add-to-cart-btn i {
  margin-right: 8px;
}

.add-to-cart-btn:hover {
  background-color: #5c3a24;
  transform: scale(1.03);
}

.add-to-cart-btn:focus {
  outline: none;
}

.see-more {
  text-align: center;
  margin-top: 15px;
}

.see-more-btn {
  // background-color: #6F4F37;  
  border:  1px solid #6F4F37;
  color: #6F4F37;
  // color: white;
  background: transparent;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  // transition: background-color 0.3s ease;
}

.see-more-btn:hover {
  // background-color: #8e6b4e;  /* Màu nâu nhạt khi hover */
}

@media (max-width: 470px) {
  .drinks-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .category-container {
    // padding: 0 20px;
    margin-bottom: 80px;
  }
}