.node-label {
  align-items: center;
  cursor: pointer;
  height: 63px;
  padding: 12px 10px;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 4px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.selected-drink {
  // background-color: #f1f3f5;
  // border-color: #adb5bd;
  border: 2px solid rgb(85, 99, 209) !important;
}



.tree-line {
  // font-family: 'Courier New', Courier, monospace;
  // white-space: pre;
  margin: 20px;
}