.node-label {
  align-items: center;
  cursor: pointer;
  height: 63px;
  padding: 12px 10px;
  background-color: white;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  margin-bottom: 4px;
  transition: all 0.3s ease;
  font-size: 15px;
}

.selected-drink {
  // background-color: #f1f3f5;
  // border-color: #adb5bd;
  border: 2px solid rgb(85, 99, 209) !important;
}



.tree-line {
  // font-family: 'Courier New', Courier, monospace;
  // white-space: pre;
  margin: 20px;
}

.status-available {
  color: #28a745;
  background-color: rgba(40, 167, 69, 0.1);
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: bold;
  // margin-bottom: 10px;
  font-size: 15px;
}


.status-rented {
  color: #dc3545;
  background-color: rgba(220, 53, 69, 0.1);
  padding: 5px 15px;
  border-radius: 50px;
  font-weight: bold;
  // margin-bottom: 10px;
  font-size: 15px;
}

@media (max-width: 470px) {
  .hide-on-mobile {
    display: none !important;
  }

  .node-label {
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
  }

  .right {
    margin-right: -142px;
  }

  .node-label>div {
    flex: 1;
    text-align: center;
    font-size: 13px;
    padding: 5px;
  }

  .node-label .task-status {
    font-size: 11px;
  }

}