<li class="tree-node">
  <div class="node-label" [ngClass]="{'selected-drink': cateogryselect?.id === category?.id}"
    (click)="toggleExpand(); clickEvent()" style="cursor: pointer;">
    <span class="tree-line">
      {{ getPrefix() }}
      <i class="fas" [ngClass]="{
           'fa-chevron-down': isExpanded,
           'fa-chevron-right': !isExpanded
         }" *ngIf="category.children?.length || category.hasChildren"></i>

      <i class="fas fa-chevron-right" *ngIf="!category.children?.length && !category.hasChildren"></i>
      {{ category.name }}
    </span>
  </div>

  <ul *ngIf="category.children?.length && isExpanded" class="list-unstyled">
    <app-category-node *ngFor="let child of category.children" [category]="child" [level]="level + 1"
      [isLast]="child === category.children[category.children.length - 1]" [cateogryselect]="cateogryselect"
      (nodeSelected)="nodeSelected.emit($event)">
    </app-category-node>
  </ul>
</li>