<app-layout [text]="'Quản lý bàn'" (showButtonss)="evetnbuttons($event)" [buttonNone]="showButtonsnone" [count]="count"
    (showPupAdd)="click($event)" [tabTemplates]="{tableList}">
</app-layout>

<ng-template #tableList>
    <div class="bottom-card">
        <app-table-list [tables]="tables" [selectTable]="selectTable" (table)="clickTable($event)"></app-table-list>
    </div>
</ng-template>

<!-- <ng-container *ngIf="showAdd"> -->
<app-table-add [listTablesparentId]="tables" [showoffcanvas]="showoffcanvas" [table]="table" [data]="data"
    (closePupAdd)="close()"></app-table-add>
<!-- </ng-container> -->

<app-select-order-type [isTypeOpen]="isTypeOpen" [tableId]="tableId" (showOrder_Type)="showOrderType()"
    (closeTypeModal)="closeType()"></app-select-order-type>

<app-order-add [showoffcanvas]="showoffOrder" [data]="data" (closePupAddOrder)="close()"></app-order-add>

<div class="custom-toast" *ngIf="showToast">
    {{ toastMessage }}
</div>