<app-layout [text]="'Quản danh mục'" (showButtonss)="evetnbuttons($event)" [buttonNone]="showButtonsnone"
    [count]="count" (showPupAdd)="click($event)" [tabTemplates]="{categoryTree, categoryAdd}">
</app-layout>


<ng-template #categoryAdd>
    <app-category-add [listcategoryparentId]="categories" [showoffcanvas]="showoffcanvas" [data]="data" (newData)="newData($event)" (closePupAdd)="close()"
        [category]="category"></app-category-add>
</ng-template>

<ng-template #categoryTree>
    <app-category-tree (clickcategory)="selectCategory($event)" [cateogryselect]="category"
        [categories]="categories"></app-category-tree>
</ng-template>