.btn-outline-black {
    border-color: #dee2e6;
}

.btn-outline-black:hover {
    background-color: #dee2e6;
    color: white;
    border-color: #dee2e6;
}

.offcanvas-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 1rem;
    background: white;
    text-align: right;
    left: 0;
    z-index: 1060 !important;
}