.table-card-custom {
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid #ddd !important;
    border-radius: 8px !important;

}

.table-card-custom-body {
    border: 2px solid rgb(85, 99, 209) !important;
    border-radius: 8px !important;
}

// .table-card-custom:hover {
//     transform: translateY(-5px);
//     box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
// }

.status-badge {
    font-size: 0.85rem;
    padding: 0.4em 0.75em;
    border-radius: 1rem;
    position: absolute;
    top: 15px;
    right: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

.card-title i {
    font-size: 1rem;
}

@media (max-width: 575.98px) and (min-width: 460px) {
    .custom-col-2 {
        width: 50% !important;
        flex: 0 0 50% !important;
    }
}