<div class="custom-offcanvas" [class.show]="showoffcanvas">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasRightLabel">ới</h5>
        <button class="close-btn" (click)="close()">
            <i class="bi bi-x-lg"></i>
        </button>
    </div>
    <div class="container-fluid p-3 ">
        <div class="offcanvas-body">
            <div class="row">
                
            </div>
        </div>
    </div>
</div>
<div class="custom-backdrop" [class.show]="showoffcanvas"></div>