.custom-offcanvas {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40% !important;
    height: 100%;
    background: #fff;
    transition: right 0.5s ease, transform 0.5s ease;
    z-index: 1051;
    max-width: 800px;
    border-left: 1px solid #dee2e6;
    transform: translateX(0);

}


.custom-offcanvas.show {
    right: 0;
    transform: translateX(0);

}

.custom-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;
}

.custom-backdrop.show {
    opacity: 1;
    pointer-events: auto;
}

.offcanvas-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem;
}

.offcanvas-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 0;
}

.close-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

.close-btn:hover {
    color: #dc3545;
    transform: scale(1.1);
}

.close-btn i {
    font-size: 1.5rem;
}

.offcanvas-body {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}



@media (max-width: 470px) {

    .custom-offcanvas {
        width: 100% !important;
        max-width: 100%;
    }
}