<app-layouts [text]="'Quản danh mục'" (showButtonss)="evetnbuttons($event)" [buttonNone]="showButtonsnone"
    [count]="count" (showPupAdd)="click($event)" [tabTemplates]="{categoryTree, categoryAdd}">
</app-layouts>
<!-- <app-layouts></app-layouts> -->

<ng-template #categoryAdd>
    <app-category-add [isModalVisible]="isModalVisible" [listcategoryparentId]="categories" [showoffcanvas]="showoffcanvas" [data]="data" (newData)="newData($event)" (closePupAdd)="close()"
        [category]="newcategory"></app-category-add>
</ng-template>

<ng-template #categoryTree>
    <app-category-tree (clickcategory)="selectCategory($event)" [cateogryselect]="category"
        [categories]="categories"></app-category-tree>
</ng-template>